.input {
    &__body {
        display: flex;
        flex-direction: column;

        &--field,
        &--select,
        &--description {
            margin: 0 0 1.4rem 0;

            .input__field,
            .input__select,
            .input__description {
                border: 0.1rem solid rgba(200, 200, 200, 1);
                font-size: 1rem;
                transition: 0.3s ease;
                width: 100%;

                &::placeholder {
                    color: rgba(0, 0, 0, 0.7);
                    transition: opacity 0.3s ease;
                }

                &:hover {
                    color: rgba(0, 0, 0, 0.7);
                }

                &:focus {
                    border-color: rgb(86, 122, 197);
                    outline: none;

                    &::placeholder {
                        opacity: 0.3;
                    }
                }

                &.has-value {
                    &::placeholder {
                        opacity: 0;
                    }
                }
            }
        }

        &--error {
            .input__error {
                color: rgba(255, 0, 0, 1);
                font-size: 0.875rem;
                height: 0; // Fixed space for error message
            }
        }
    }
}

// Disable Product ID input
.product-id-input {
    input {
        background-color: rgba(200, 200, 200, 0.3);
        color: rgba(100, 100, 100, 0.6);
        cursor: not-allowed;

        &:disabled {
            background-color: rgba(200, 200, 200, 0.3);
            color: rgba(100, 100, 100, 0.6);
            cursor: not-allowed;
        }
    }
}

// Specific styling for description input
.input__description {
    line-height: 1.4rem; /* Better readability */
    padding: 1rem; /* Add padding for spacing */
    resize: vertical; /* Allow vertical resizing */
    min-height: 8rem; /* Minimum height for the box */
    max-height: 20rem; /* Optional: Limit the maximum height */
    height: auto; /* Dynamically adjust height */
    width: 100%; /* Ensure it fits the parent container */
    overflow-wrap: break-word; /* Ensure long words break */
    word-break: break-word; /* Additional support for word breaking */
    overflow: hidden; /* Prevent text from spilling out */
    white-space: pre-wrap; /* Preserve spaces and line breaks */
    text-align: left; /* Start text from the left */
    vertical-align: top; /* Align text from the top */
}
