.button {
  &__body {
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.875rem;
    transition: background-color 0.3s ease;
    width: 100%;

    &--submit {
      background-color: #18a7d0;
      color: rgba(255, 255, 255, 1);
      &:hover {
        background-color: #147693;
      }
    }

    &--delete {
      background-color: rgb(255, 0, 0);
      color: rgba(255, 255, 255, 1);
      &:hover {
        background-color: rgb(173, 15, 15);
      }
    }
  }
}
