.users,
.profiles,
.user-rights,
.products,
.types,
.attributes {
    &__table {
        border-collapse: collapse;
        table-layout: fixed;
        text-align: left;
        width: 100%;
    }

    &__table-actions {
        display: flex;
        gap: 0.2rem;
        justify-content: flex-end;
    }

    &__table-body {
        background-color: rgba(255, 255, 255, 1);
    }

    &__table-cell,
    &__table-header-cell {
        border-bottom: 0.06rem solid rgba(0, 0, 0, 0.1);
        border-right: 0.06rem solid rgba(0, 0, 0, 0.1);
        overflow: hidden;
        padding: 0.5rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        user-select: none;


        &--actions {
            overflow: hidden;
        }
    }

    &__table-header-cell--actions,
    &__table-cell--actions {
        border-bottom: 0.06rem solid rgba(0, 0, 0, 0.1);
        border-right: 0.06rem solid rgba(0, 0, 0, 0.1);
        width: 7.5%;
        cursor: default;
    }

    &__table-header-cell i {
        width: 100%;
        margin-left: 0.5rem;
        cursor: pointer;
        transition: transform 0.3s ease, color 0.3s ease;
    }

    &__table-header-cell i:hover {
        color: #d5def0;
    }

    &__table-header {
        background-color: rgb(86, 122, 197);
        border-bottom: 0.3rem solid rgba(0, 0, 0, 0.1);
        color: rgba(255, 255, 255, 1);
        font-weight: bold;
        text-align: left;
        cursor: pointer;
    }

    &__table-row {
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgb(233, 232, 239);
        }
    }

    &__top-bar {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 0 1rem;
    }
}
