.user-rights {
    &__create-button {
        margin: 0 1rem 0 0;
    }

    &__search-bar {
        display: flex;
        flex-grow: 1;
        min-width: 20rem;
    }

    &__section {
        border: 0.06rem solid rgba(0, 0, 0, 0.02);
        box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.05);
        padding: 1rem;
    }

    &__slider {
        display: flex;
        align-items: center;
        height: 1.5rem;
        justify-content: flex-start;
        margin: 0 auto;
        position: relative;
        width: 3rem;

        &__checkbox {
            display: none; /* Verbergt de checkbox */
        }

        &__checkbox:checked + &__button {
            background-color: rgba(86, 122, 197, 1);
            transform: translateX(1.5rem);
        }

        &__button {
            background-color: rgba(255, 255, 255, 1);
            border-radius: 50%;
            height: 1rem;
            position: absolute;
            transition: transform 0.3s ease, background-color 0.3s ease;
            width: 1rem;
        }
    }

    &__title {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        font-size: 2rem;
        font-weight: bold;
        height: 2.56rem;
        justify-content: flex-start;
    }

    &__top-bar {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 0 1rem;
    }
}
