// Go to forgot-password in LoginForm.vue
.forgot-password {
    align-items: center; /* Aligns the icon and text vertically */
    display: inline-flex; /* Ensures icon and text align horizontally */

  &__icon {
    color: #7b7b7b;
    font-size: 1rem;
    margin: 0 .5rem 0 0;
  }

  &__link {
    color: #808080;
    font-size: 1rem;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }
}
