.forgot-password {
  &__icon {
    color: #7b7b7b;
    font-size: 1rem;
  }

  &__link {
    color: #808080;
    font-size: 1rem;
    margin: 0 0 0 .5rem;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }
}
