// Email Verification Component styling
.verify-email {
    &__description {
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 1rem;
    }

    &__status {
        font-size: 1rem;
        color: rgba(0, 128, 0, 0.8); // Green status message
        margin-bottom: 1rem;
    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__actions {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}
