.CookieDeclaration {
    display: none !important;
}

#Cookiebot {
    display: none !important;
}

/* Verbergt de gedetailleerde cookie-informatie en de footer */
#CybotCookiebotDialogBodyContent,
#CybotCookiebotDialogBodyContent p {
    display: none !important;
}

/* Verbergt de footer van de cookieverklaring */
#CybotCookiebotDialogBody .CybotCookiebotDialogFooter {
    display: none !important;
}

/* Zorgt ervoor dat de toestemmingsknoppen zichtbaar blijven */
#CybotCookiebotDialogBody .CybotCookiebotDialogButton {
    display: block !important;
}

/* Verbergt de 'Cookieverklaring' sectie onderaan de pagina */
#CookieDeclaration {
    display: none !important;
}
